.m-imgList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 44px;

    @include media-up(m) {
        flex-direction: row;
        align-items: initial;
    }

    &.-try {
        margin-top: 54px;
    }


    &__imgDiv {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 200px;

        @include media-up(m) {
            max-width: 256px;
            margin-right: 57/800*100%;
            margin-left: 104/800*100%;
        }
    }

    &__listDiv {
        margin-top: 40px;

        @include media-up(m) {
            margin-top: 0;
        }
    }
}